.CardProgressBar {
  height: 95vh;
  max-block-size: 650px;
}

.CardProgressBar {
  background-color: var(--Background-cardProgressBar);
  max-inline-size: 291px;
  inline-size: 100%;
}

.CardPrgressBar-container {
  margin-inline-start: 40px;
  margin-block-start: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
