.CardForm {
  inline-size: 100%;
  background: var(--Background-cardForm);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.CardForm-container {
  position: relative;
}

.CardForm-content {
  border: 2px solid red;
  padding-block-start: 90px;
  padding-inline-start: 63px;
}
