.Calendar {
  border: 2px solid #000;
  inline-size: 30%;
  block-size: 30px;
  border-radius: 0.3rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container > input {
  padding: 0;
  margin: 0;
  width: 100%;
  block-size: 30px;
  border-radius: 0.3rem;
  border: none;
  font: var(--label);
}
